In [21]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [22]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\RISHABH JOHRI\AppData\Local\Temp\ipykernel_20380\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [23]:
driver.get("https://www.naukri.com/")

In [24]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [26]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [28]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [29]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [30]:
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [31]:
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [32]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [33]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,
                 'Exp Required':experience_required})

In [34]:
df

,Job Title,Job Location,Company Name,Exp Required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-10 Yrs
2,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
3,HCL hiring For Data Analyst,"Bangalore/Bengaluru, Pune, Chennai",HCL Technologies,3-8 Yrs
4,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
5,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
6,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
7,Assistant Manager/Manager - Data Analyst - Ana...,"Bangalore/Bengaluru, Delhi / NCR",Huquo Consulting Pvt. Ltd,6-11 Yrs
8,Python Data Analyst - WFH,Remote,hCapital Business Consulting Private Limited,4-9 Yrs
9,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs

In [35]:
driver.get("https://www.naukri.com/")

In [36]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [37]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [38]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [39]:
job_title=[]
job_location=[]
company_name=[]

In [40]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [41]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [42]:
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [43]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [44]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name})

In [45]:
df

,Job Title,Job Location,Company Name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist/AIML Engineer,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad
5,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
6,Hiring Data Science Intern - DataTrained Educa...,"Bangalore/Bengaluru, Noida, Kolkata, Hyderabad...",DataTrained
7,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
8,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
9,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.

In [46]:
driver.get("https://www.naukri.com/")

In [47]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [48]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [49]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [50]:
job_title=[]
job_location=[]
company_name=[]

In [51]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [52]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [53]:
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [54]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [55]:
df1=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name})

In [56]:
df1

,Job Title,Job Location,Company Name
0,Job Opportunity on Data Science_ Python with T...,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Tech Mahindra
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited
3,Hiring Data Science Intern - DataTrained Educa...,"Delhi / NCR, Noida, Kolkata, Hyderabad/Secunde...",DataTrained
4,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic
5,AVAP Agile Information Systems - Data Scientis...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",AVAP Agile
6,Data Scientist Lead,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Cloudjune
7,Data Scientist,"Delhi / NCR, New Delhi, Pune, Gurgaon/Gurugram...",ZS Associates
8,Data Scientist,"Noida, Bangalore/Bengaluru\n(WFH during Covid)",Paytm
9,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix

In [57]:
driver.get("https://www.flipkart.com/")

In [58]:
url="https://www.flipkart.com/"
driver.get(url)

In [59]:
search_g= driver.find_elements(By.XPATH,"//input[@type='text']")
search_g

[<selenium.webdriver.remote.webelement.WebElement (session="6d96aa77133e20a49cc79510fe4f09e0", element="77d9b110-8565-4f9d-9bc9-914751c59e46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d96aa77133e20a49cc79510fe4f09e0", element="4d64526a-2e77-451b-b79b-0ed0c79a75ef")>]

In [60]:
search_btn=driver.find_elements(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [61]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0047DF13+2219795]
	Ordinal0 [0x00412841+1779777]
	Ordinal0 [0x0032423D+803389]
	Ordinal0 [0x003599D4+1022420]
	Ordinal0 [0x003578C4+1013956]
	Ordinal0 [0x003554AB+1004715]
	Ordinal0 [0x00354117+999703]
	Ordinal0 [0x00349B76+957302]
	Ordinal0 [0x0036E7FC+1107964]
	Ordinal0 [0x003494B4+955572]
	Ordinal0 [0x0036EA14+1108500]
	Ordinal0 [0x0037F192+1175954]
	Ordinal0 [0x0036E616+1107478]
	Ordinal0 [0x00347F89+950153]
	Ordinal0 [0x00348F56+954198]
	GetHandleVerifier [0x00772CB2+3040210]
	GetHandleVerifier [0x00762BB4+2974420]
	GetHandleVerifier [0x00516A0A+565546]
	GetHandleVerifier [0x00515680+560544]
	Ordinal0 [0x00419A5C+1808988]
	Ordinal0 [0x0041E3A8+1827752]
	Ordinal0 [0x0041E495+1827989]
	Ordinal0 [0x004280A4+1867940]
	BaseThreadInitThunk [0x76166739+25]
	RtlGetFullPathName_UEx [0x771190AF+1215]
	RtlGetFullPathName_UEx [0x7711907D+1165]

In [ ]:
B_name=[]
Price=[]
P_desc=[]

In [ ]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,("//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,("//div[@class='_25b18c']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [ ]:
print(len(_name),len(Price),len(P_desc))

In [62]:
sun=pd.DataFrame({})
sun['Brand_name']=B_name[:100]
sun['P_price']=Price[:100]
sun['Pr_desc']=P_desc[:100]

NameError: name 'B_name' is not defined

In [63]:
sun

Empty DataFrame
Columns: []
Index: []

In [64]:
driver.get("https://www.flipkart.com/")

In [65]:
productname=driver.find_element(By.CLASS_NAME,"_3704LK")
productname.send_keys('iphone 11')

In [66]:
search=driver.find_element(By.CLASS_NAME,"_1cmsER")
search.click()

ElementClickInterceptedException: Message: element click intercepted: Element <div class="_1cmsER">...</div> is not clickable at point (425, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0047DF13+2219795]
	Ordinal0 [0x00412841+1779777]
	Ordinal0 [0x0032423D+803389]
	Ordinal0 [0x003599D4+1022420]
	Ordinal0 [0x003578C4+1013956]
	Ordinal0 [0x003554AB+1004715]
	Ordinal0 [0x00354117+999703]
	Ordinal0 [0x00349B76+957302]
	Ordinal0 [0x0036E7FC+1107964]
	Ordinal0 [0x003494B4+955572]
	Ordinal0 [0x0036EA14+1108500]
	Ordinal0 [0x0037F192+1175954]
	Ordinal0 [0x0036E616+1107478]
	Ordinal0 [0x00347F89+950153]
	Ordinal0 [0x00348F56+954198]
	GetHandleVerifier [0x00772CB2+3040210]
	GetHandleVerifier [0x00762BB4+2974420]
	GetHandleVerifier [0x00516A0A+565546]
	GetHandleVerifier [0x00515680+560544]
	Ordinal0 [0x00419A5C+1808988]
	Ordinal0 [0x0041E3A8+1827752]
	Ordinal0 [0x0041E495+1827989]
	Ordinal0 [0x004280A4+1867940]
	BaseThreadInitThunk [0x76166739+25]
	RtlGetFullPathName_UEx [0x771190AF+1215]
	RtlGetFullPathName_UEx [0x7711907D+1165]

In [67]:
rating=[]
reviewsummary=[]
fullreview=[]

In [68]:
rating_tag=driver.find_elements(By.XPATH,"//div[@class='_2d4LTz']")
for i in rating_tag[0:100]:
    ratings=i.text
    rating.append(rating)

WebDriverException: Message: chrome not reachable
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0047DF13+2219795]
	Ordinal0 [0x00412841+1779777]
	Ordinal0 [0x00324100+803072]
	Ordinal0 [0x00319BF2+760818]
	Ordinal0 [0x0030CD35+707893]
	Ordinal0 [0x00311122+725282]
	Ordinal0 [0x00315699+743065]
	Ordinal0 [0x00325610+808464]
	Ordinal0 [0x0037E93A+1173818]
	Ordinal0 [0x0036E616+1107478]
	Ordinal0 [0x00347F89+950153]
	Ordinal0 [0x00348F56+954198]
	GetHandleVerifier [0x00772CB2+3040210]
	GetHandleVerifier [0x00762BB4+2974420]
	GetHandleVerifier [0x00516A0A+565546]
	GetHandleVerifier [0x00515680+560544]
	Ordinal0 [0x00419A5C+1808988]
	Ordinal0 [0x0041E3A8+1827752]
	Ordinal0 [0x0041E495+1827989]
	Ordinal0 [0x004280A4+1867940]
	BaseThreadInitThunk [0x76166739+25]
	RtlGetFullPathName_UEx [0x771190AF+1215]
	RtlGetFullPathName_UEx [0x7711907D+1165]

In [ ]:
summary_tag=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in summary_tag[0:100]:
    summary=i.text
    summary.append(summary)

In [ ]:
fullreview_tag=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in fullreview_tag[0:100]:
    fullreview=i.text
    fullreview.append(fullreview)

In [ ]:
print(len(rating),len(reviewsummary),len(fullreview))

In [ ]:
df=pd.DataFrame({'RATINGS':rating,'SUMMARY':reviewsummary,'REVIEWS':fullreview})
df

In [103]:
driver = webdriver.Chrome(r"C:\Users\RISHABH JOHRI\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\RISHABH JOHRI\AppData\Local\Temp\ipykernel_20380\55920059.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\RISHABH JOHRI\Downloads\chromedriver_win32\chromedriver.exe")

In [104]:
url="https://www.flipkart.com/"
driver.get(url)

In [105]:
search_g= driver.find_elements(By.XPATH,"//input[@type='text']")
search_g

[<selenium.webdriver.remote.webelement.WebElement (session="930e04e50fbc43df134bdf1606cb592b", element="df638396-4d01-45e0-b30b-c915b8348634")>,
 <selenium.webdriver.remote.webelement.WebElement (session="930e04e50fbc43df134bdf1606cb592b", element="cd0c7f52-d8c2-45af-b195-8f52519f9e0c")>]

In [106]:
search_g.send_keys('sneakers')

AttributeError: 'list' object has no attribute 'send_keys'

In [107]:
search_btn=driver.find_elements(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [108]:
name=[]
price=[]
desc=[]

In [120]:
name= driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in name[0:10]:
    name=i.text
    name.append(names)

In [121]:
desc= driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in name[0:10]:
    desc=i.text
    desc.append(desc)

In [122]:
price= driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
for i in price[0:10]:
    price=i.text
    price.append(price)

In [123]:
print(len(name[:100])),print(len(price[:100])),print(len(desc[:100]))

0
0
0

(None, None, None)

In [124]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=name[:100]
sun_gl['P_price']=price[:100]
sun_gl['Pr_desc']=desc[:100]

In [125]:
sun_gl

Empty DataFrame
Columns: [Brand_name, P_price, Pr_desc]
Index: []